body {
  background-color: #d0ebff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* HOMEPAGE */

.App {
  display: flex;
  flex-direction: column;
}

.button-start {
  background-color: white;
  border: 0;
  padding: 10px 30px;
  border-radius: 1vh;
}
